/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 242 of catherwood/_search.scss
        from line 12 of style.scss

237: 
238: }
239: /* Large devices (desktops, 1200px and up) *\/
240: @media (min-width: $screen-lg) {
241: 
242: }

Backtrace:
catherwood/_search.scss:242
style.scss:12
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:640:in `block'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:194:in `directive'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:309:in `to_tree'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `call'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `_process_changes'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:269:in `block in _wait_for_changes'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `loop'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `_wait_for_changes'
/Users/jrc88/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:341:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 242 of catherwood/_search.scss\A         from line 12 of style.scss\A \A 237: \A 238: }\A 239: /* Large devices (desktops, 1200px and up) */\A 240: @media (min-width: $screen-lg) {\A 241: \A 242: }"; }
