// Brand container
// ------------------- //

.brand-container {
	background: $dark-gray;
	background: rgba(34, 34, 34, 0.5);
	margin-bottom:12em;
	margin-top:0em
}

// Cornell brand
// ------------------- //

.cornell-identity {
	.container {
		background: $cornell-red;
	}
	.cornell-logo {
		@include make-xs-column(4);
	}
	button {
		i {
			color: white;
		}
	}
}

// Library brand
// ------------------- //
.library-brand {
	@include make-sm-column(8);
}

.ilr-brand {
	@include make-sm-column(4);
	margin: 2em 0;
	img {
		width: 51%;
	}
}
.brand {
	text-transform: uppercase;
	font-size: 42px;
	font-family: $font-family-cul;
	display: block;
	color: white;
	line-height: 1em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.brand:hover,
.brand:active,
.brand-focus {
	color: white;
	text-decoration: none;
}
.cul-brand {
	color: white;
	font-size: 24px;
	font-family: $font-family-cul;
	display: block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.cul-brand:hover {
	color: $pale-gray;
	text-decoration: none;
}

// Alert box
// ------------------- //
.alert-box {
	@include make-sm-column(4);
	.well {
		margin: 0 0 .5em 0;
	}
	h2 {
		font-size: 24px;
		font-weight: 700;
		color: $cornell-red;
	}
}

// MEDIA QUERIES
// -------------------------
// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.brand {
		font-size: 36px;
	}
	.library-brand {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.ilr-brand {
		margin: 3.5em 0 0 0;
		img {
			width: 71%;
			float: right;
		}
	}
}
// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.brand {
		font-size: 48px !important;
	}
}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
}
